<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form method="post" th:action="@{/insertStudent}" th:object="${student}">
<input type="hidden" name="id" th:field="*{id}"/>
Name: <input type="text" name="name" th:field="*{name}" /><br>
<input type="submit" value="Go!" />
</form>

<table th:if="${session.studentList != null AND session.studentList != ''}">
<tr th:each="s : ${session.studentList}">
<td th:text="${s.name}">Frank</td>
</tr>
</table>


</body>
</html>