<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<table>
<tr>
<th>ID</th>
<th>Title</th>
<th>Artist</th>
<th>Genre</th>
</tr>
<tr th:each="aSong:${songList}">
<td th:text="${aSong.id}">55</td>
<td th:text="${aSong.title}">Yesterday</td>
<td th:text="${aSong.artist}">Paul McCartney</td>
<td th:text="${aSong.genre}">Classical</td>
</tr>
</table>
<hr>
<form method="post" action="#" th:action="@{/addSong}"
th:object="${song}">
ID: <input type="number" th:field="*{id}" /><br>
Title: <input type="text" th:field="*{title}" /><br>
Artist: <input type="text" th:field="*{artist}" /><br>
Genre: <select th:field="*{genre}">
<option th:each="g:*{genres}" th:value="${g}" th:text="${g}" />
</select><br>
<input type="submit" value="Add Song!" />
</form>

</body>
</html>