<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Course List</h1>
	<p>Please fill out this form!</p>
	<form method="post" action="/formPost" class = "form">
		ID: 		<input type="number" name="id" /><br>
		Prefix:     <input type="text" name="prefix" /><br>
		Code:       <input type="number" name="code"  /><br>
		Name:       <input type="text" name="name"  /><br>
		            <input type="submit" value="Go!"  />
	</form>

</body>
</html>